.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#mapbanner {
  background-color: rgba(0, 0, 0, 0.5);
  z-index:1;
  color:#ffffff;
  text-align: center;
  width:100%;
  position:absolute;
  margin-top: 400px;
}

iframe {
  margin-top: -10px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #4393B9;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: aqua;
}

.tech-unit {
  position: relative;
  padding: 30px 15px;
  color: #4393B9;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.image {
  height: 400px;
  width: 600px;
}

.image2 {
  height: 285px;
  width: 100%;
}
